.loginBg{
    background: url(/assets/images/loginBg.JPG) no-repeat center fixed !important;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}